<footer  class="Piedepagina">
  <ul class="grupo">
    <li>
      <h2 class="nombre">Pedro Presaras</h2>
    </li>
    <li>
      <h2 class="nombre" >Alejo Gonzalez Medina</h2>
     </li>
  </ul>
  <div class="logoTmdb">
    <img src="/images/logodb.png"  href="#top" uk-scroll alt="">
  </div>
</footer>