<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
</head>
<body>
    <form action="/PROYECTO2/views/buscador.ejs" method="get">
    
        <div>
            <label for="">Buscar usuarios por nombre o email...</label>
            <input type="text" name="searchUser" id="searchUser">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
    
</body>
</html>