<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWTIME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/busqueda.css">

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
<script src="https://kit.fontawesome.com/0fb732c451.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="container">

    <header class="cabecera">
      <ul class="headerul">
        <a src="logotipo" href="/views/index.ejs"> <img  src="/images/logo.png" alt="logotipo" class="logo"> </a>
        <form class="buscadorheader" action="/views/searchbar.ejs" method="get">
          <div class="form-groupSearch">
            <input type="search" class="form-control" name="search" placeholder="  Buscar" >
          </div>
        </form>

        <div class="uk-inline boundary botones">
          <button class="uk-button uk-button-default botonlindo" type="button">Menu</button>
            <div uk-dropdown="pos: left-top" style="position:fixed;">
              <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-active miLi"><a href="/login">LOGIN</a></li>
                <li class="uk-active miLi"><a href="/registracion">REGISTRARSE</a></li> 
                <li class="uk-active miLi"><a href="/login">MI PERFIL</a></li>
              </ul>
            </div>
        </div>
      </ul>
  	</header>



<main>
  <form class="formulario" name="formulario" action="/PROYECTO2/views/buscar.ejs" method="get">


    <label for="generos" class="texto">Generos que desea buscar...</label>


      <select class="incluir" name="generoIncluir" id="generoA">
        <option value="">GENEROS:</option>
      </select>

    <label for="generos" class="texto">Generos que desea excluir...</label>

      <select class="excluir" name="generoExcluir" id="generoA">
        <option value="">GENEROS:</option>
      </select>

    <label for="ordenarPor" class="texto">Ordenar series por...</label>

      <select class="ordenar" name="orden" id="generoA">
        <option value="" class="option">ORDENAR POR:</option>
          <option value="popularity.desc">Las mas populares</option>
          <option value="popularity.asc">Las menos populares</option>
          <option value="vote_average.desc">Las mas votadas</option>
          <option value="vote_average.asc">Las menos votadas</option>
          <option value="first_air_date.desc">Mas recientes estrenos</option>
          <option value="first_air_date.asc">Mas antiguos estrenos</option>
      </select>

    <label for="" class="texto">Año de estreno...</label>

      <select class="year" name="year" id="generoA">
        <option value="">AÑO:</option>
      </select>

      <div uk-margin>
        <button type="submit" class="enviar uk-button uk-button-default"><p>Buscar</p></button>
      </div>



      <div class="textoBuscado">
        <h1>Resultados:</h1>
      </div>



      <div class="contenedoraderesultados">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true" id="slider">

          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m" >
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>

  </form>

  </main>

<footer  class="Piedepagina">

  <ul class="grupo">
    <li>
      <h2 class="nombre">Pedro Presaras</h2>
    </li>
    <li>
      <h2 class="nombre" >Alejo Gonzalez Medina</h2>
     </li>
  </ul>

    <div class="logoTmdb">
        <img src="/PROYECTO2/public/images/logodb.png"  href="#top" uk-scroll alt="">
    </div>

</footer>



</body>
    <script src="/public/javascripts/busqueda.js"></script>
</html>

