<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWTIME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/stylesgeneros.css">

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
<script src="https://kit.fontawesome.com/0fb732c451.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="container">

  <header class="cabecera">
    <ul class="headerul">
      <a src="logotipo" href="/index"> <img  src="/images/logo.png" alt="logotipo" class="logo"> </a>
      <form class="buscadorheader" action="/usuarios/miPerfil" method="GET">
        <div class="form-groupSearch">
          <input type="search" class="form-control" name="search" placeholder="  BUSCAR USUARIO...">
      </div>
    </form>
    <div class="uk-inline boundary botones">
      <button class="uk-button uk-button-default botonlindo" type="button">MENU</button>
        <div uk-dropdown="pos: left-top" style="position:fixed;">
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active miLi"><a href="/login">LOGIN</a></li>
            <li class="uk-active miLi"><a href="/registracion">REGISTRARSE</a></li> 
            <li class="uk-active miLi"><a href="/login">MI PERFIL</a></li>
            <li class="uk-active miLi"><a href="/resenias/crear">CREAR UNA RESEÑA</a></li>
          </ul>
        </div>
    </div>
    </ul>
  </header>
  
<main>
<section class="seriesPorGeneros">

        <div class="tituloDelGenero">

        </div>

        <div class="contenedorDeSeries">
          <ul class="listaDeSeries">

          </ul>

        </div>
</section>

<footer  class="Piedepagina">
  <ul class="grupo">
    <li>
      <h2 class="nombre">Pedro Presaras</h2>
    </li>
   
  </ul>
  <div class="logoTmdb">
    <img src="/images/logodb.png"  href="#top" uk-scroll alt="">
  </div>
</footer>

</body>
</html>


<script src="../public/javascripts/genero.js">

</script>

<script>
  var queryString = location.search;

var searchParams = new URLSearchParams(queryString)

var id = searchParams.get("id")

var nombre = searchParams.get("nombre")
var elemento2 = document.querySelector ('.tituloDelGenero')
elemento2.innerHTML += '<p class="titulin">Resultados para: '+ nombre+'<p>'
console.log(id);
console.log(nombre);
var url = "https://api.themoviedb.org/3/discover/tv?api_key=8eaabce657eccc6be932f97172c1a728&sort_by=popularity.desc&page=1&with_genres=" + id


fetch(url)
  .then(function(response) {
    return response.json();
  })  // el fetch me trae la data en formato objeto (general) con muchos resultados (array)

  // en el segundo den me lo convierte en un objeto que yo puedo utilizar
  .then(function(myJson) {
    console.log(myJson);
    var posterURL = 'https://image.tmdb.org/t/p/original'
    for (var i = 0; i < myJson.results.length; i++) {
      myJson.results[i]
      var elementoHTML = document.querySelector('.listaDeSeries')
      if(myJson.results[i].poster_path == null){
        var lifallo = ""
        lifallo += "<li class='unidad uk-transition-toggle'>"
        lifallo += '<img class="poster uk-transition-scale-up" src="../public/images/mati.JPG" alt=""</a>'
        lifallo += '<div class="contenedortitulo uk-transition-scale-up"> <a href="/detalles?id='+datos.results[i].id+'" class="tituloserie">'+datos.results[i].name+'</a></div>'
        lifallo += "</li>"
        destino.innerHTML += lifallo}
        else {

      var contenidoParaInsertar = '<li class="serie uk-transition-toggle">'
      contenidoParaInsertar += '<img class="poster uk-transition-scale-up" src="'+posterURL+ myJson.results[i].poster_path+'" alt="">'
      contenidoParaInsertar += '<div class="tituloserie uk-transition-scale-up"><a class="titulo" href="/detalles?id='+myJson.results[i].id+'">'+myJson.results[i].name +'</a></div>'
      contenidoParaInsertar += '</li>'
}
      elementoHTML.innerHTML += contenidoParaInsertar
}
    })
</script>