<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <title>SHOWTIME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
<script src="https://kit.fontawesome.com/0fb732c451.js" crossorigin="anonymous"></script>
  </head>
  <body>

<div class="container">

    <header class="cabecera">
      <ul class="headerul">
        <a src="logotipo" href="/PROYECTO2/views/index.ejs"> <img  src="/PROYECTO2/public/images/logo.png" alt="logotipo" class="logo"></a>
        <form class="buscadorheader" action="/PROYECTO2/views/searchbar.ejs" method="get">
          <div class="form-groupSearch">
            <input type="search" class="form-control" name="search" placeholder="  Buscar" >
          </div>
        </form>

        <div class="uk-inline boundary botones">
          <button class="uk-button uk-button-default botonlindo" type="button">Menu</button>
            <div uk-dropdown="pos: left-top" style="position:fixed;">
              <ul class="uk-nav uk-dropdown-nav">
                  <li class="uk-active miLi"><a href="/PROYECTO2/views/buscar.ejs">Filtros</a></li>
                  <li miLi><a "uk-button uk-button-default" href="/PROYECTO2/views/listado.ejs" id="generos">Generos</a>
                  <li class="uk-nav-divider miLi"></li>
              </ul>
            </div>
        </div>
      </ul>
  	</header>
    <main>
      <section class= "series">
        <div class="titulo">
          <p>Listado de series con mayor puntaje</p>
        </div>

        <div class="uk-position-relative uk-visible-toggle uk-light slider margen" tabindex="-1" uk-slider="autoplay: true" id="slider">
          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m puntaje bordes" >
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>


        <div class="titulo">
          <p>Listado de las series mas populares</p>
        </div>

        <div class="uk-position-relative uk-visible-toggle uk-light slider margen" tabindex="-1" uk-slider="autoplay: true" id="slider" >
          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m populares">
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>


        <div class="titulo">
            <p>Listado de series que estan al aire hoy</p>
        </div>

        <div class="uk-position-relative uk-visible-toggle uk-light slider margen" tabindex="-1" uk-slider="autoplay: true" id="slider">
          <ul class="uk-slider-items uk-child-width-1-2 uk- child-width-1-3@s uk-child-width-1-4@m aire">
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"> </a>
        </div>

      </section>

    </main>

        <footer  class="Piedepagina">
            <ul class="grupo">
              <li>
                <h2 class="nombre" >Marcos Estrada</h2>
              </li>
              <li>
                <h2 class="nombre" >Matias Kruger</h2>
              </li>
              <li>
               <h2 class="nombre">Pedro Presaras</h2>
              </li>
            </ul>


          <div class="logoTmdb">
            <img src="/PROYECTO2/public/images/logodb.png" alt=""    href="#top" uk-scroll>
          </div>


        </footer>















<script src="/public/javascripts/index.js">

</script>

  </body>
</html>
