<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWTIME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
<script src="https://kit.fontawesome.com/0fb732c451.js" crossorigin="anonymous"></script>
</head>

<body class="bodyLogin">

<div class="container">

  <header class="cabecera">
    <ul class="headerul">
      <a src="logotipo" href="/index"> <img  src="/images/logo.png" alt="logotipo" class="logo"> </a>
      <form class="buscadorheader" action="/usuarios/miPerfil" method="GET">
        <div class="form-groupSearch">
          <input type="search" class="form-control" name="search" placeholder="  BUSCAR USUARIO...">
      </div>
    </form>
    <div class="uk-inline boundary botones">
      <button class="uk-button uk-button-default botonlindo" type="button">MENU</button>
        <div uk-dropdown="pos: left-top" style="position:fixed;">
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active miLi"><a href="/login">LOGIN</a></li>
            <li class="uk-active miLi"><a href="/registracion">REGISTRARSE</a></li> 
            <li class="uk-active miLi"><a href="/login">MI PERFIL</a></li>
          </ul>
        </div>
    </div>
    </ul>
  </header>

  <div class="formularioLogin">
    <form action="/login" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="EmailDeUsuario" class="control-label col-sm-2" style="color: red">
            EMAIL DE USUARIO: <span style="color:red">*</span>
        </label> <br>
        <input  class="form-group" type="email" id="EmailDeUsuario" name="EmailDeUsuario" style="color: black;" required>
    </div>
    <div class="form-group">
        <label for="ContraseniaDeUsuario" class="control-label col-sm-2" style="color: red">
            CONTRASEÑA DE USUARIO: <span style="color:red">*</span>
        </label><br>
        <input class="form-group" type="password" id="ContrseniaDeUsuario" name="ContraseniaDeUsuario" style="color: black;" required>
    </div>
    <div class="col-sm-offset-2 col-sm-10" class="btn btn-default" style="margin: 8px; border-radius: 9px;">
        <button type="submit"    style="margin-left: 125px;" >
            LOGIN
        </button>
    </div>
    <div class="botonesAbajo" style="font-size: 12px;">
        <a href="https://www.youtube.com/watch?v=CAHvHWaGbs0" >
          ¿HAS OLVIDADO TU CONTRASEÑA?
        </a>
        <a href="/registracion" style="margin-left: 40px;">
          REGISTRARSE
        </a>
    </div>
    </form> 
  </div>



<footer  class="Piedepagina" style="margin-top: 300px;">
    <ul class="grupo">
      <li>
        <h2 class="nombre">Pedro Presaras</h2>
      </li>
      <li>
        <h2 class="nombre" >Alejo Gonzalez Medina</h2>
       </li>
    </ul>
  <div class="logoTmdb">
    <img src="/images/logodb.png" alt=""    href="#top" uk-scroll>
  </div>
</footer>

</body>
</html>