<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWTIME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
<script src="https://kit.fontawesome.com/0fb732c451.js" crossorigin="anonymous"></script>
</head>
</head>

<body>
  <header class="cabecera">
    <ul class="headerul">
      <a src="logotipo" href="/index"> <img  src="/images/logo.png" alt="logotipo" class="logo"> </a>
      <form class="buscadorheader" action="/usuarios/miPerfil" method="GET">
        <div class="form-groupSearch">
          <input type="search" class="form-control" name="search" placeholder="  BUSCAR USUARIO...">
      </div>
    </form>
    <div class="uk-inline boundary botones">
      <button class="uk-button uk-button-default botonlindo" type="button">MENU</button>
        <div uk-dropdown="pos: left-top" style="position:fixed;">
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active miLi"><a href="login.ejs">LOGIN</a></li>
            <li class="uk-active miLi"><a href="registracion.ejs">REGISTRARSE</a></li> 
            <li class="uk-active miLi"><a href="login.ejs">MI PERFIL</a></li>
          </ul>
        </div>
    </div>
    </ul>
</header>


<body>
  
  <form action="/registracion" method="POST" class="formulario">
    <label for="NombreDeUsuario">
      NOMBRE DE USUARIO:
    </label>
  </form>

</body>

<footer  class="Piedepagina">
        <ul class="grupo">
          <li>
            <h2 class="nombre">Pedro Presaras</h2>
          </li>
          <li>
            <h2 class="nombre" >Alejo Gonzalez Medina</h2>
           </li>
        </ul>


      <div class="logoTmdb">
        <img src="/images/logodb.png" alt=""    href="#top" uk-scroll>
      </div>


    </footer>

</body>
</html>