<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-a11y="true"></script>
</head>
<body class="bg-gray-300 flex flex-col h-screen justify-between">
  <header class="cabecera">
    <ul class="headerul">
      <a src="logotipo" href="/index"> <img  src="/images/logo.png" alt="logotipo" class="logo"> </a>
      <form class="buscadorheader" action="/usuarios/miPerfil" method="GET">
        <div class="form-groupSearch">
          <input type="search" class="form-control" name="search" placeholder="  BUSCAR USUARIO...">
      </div>
    </form>
    <div class="uk-inline boundary botones">
      <button class="uk-button uk-button-default botonlindo" type="button">MENU</button>
        <div uk-dropdown="pos: left-top" style="position:fixed;">
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active miLi"><a href="/login">LOGIN</a></li>
            <li class="uk-active miLi"><a href="/registracion">REGISTRARSE</a></li> 
            <li class="uk-active miLi"><a href="/login">MI PERFIL</a></li>
          </ul>
        </div>
    </div>
    </ul>
  </header>
   <div>
        <div>
            <h1>
                <%= NombreDeUsuario %>
            </h1>
        </div>
        <div>
            <h2>
                <%= EmailDeUsuario %> 
            </h2>
        </div>
        <div>
            <h3>
                <b>Fecha De Nacimiento</b> <br>
                <%= moment(FechaDeNacimiento).format('Do MMM YYYY') %> 
            </h3>
        </div>
   </div>
 <!-- INCLUIR MIS RESEÑAS -->
 <footer  class="Piedepagina">
  <ul class="grupo">
    <li>
      <h2 class="nombre">Pedro Presaras</h2>
    </li>
    <li>
      <h2 class="nombre" >Alejo Gonzalez Medina</h2>
     </li>
  </ul>
<div class="logoTmdb">
  <img src="/images/logodb.png" alt=""    href="#top" uk-scroll>
</div>
</footer>

</body>
</html>