body{
background-color: #081C24;
width: 100%;
height: 100%;
}
/*cabezera*/

.cabecera {
width: 100%;
padding: 0px;
margin: 1px;
display:flex;
background-color: white;
overflow: hidden;
z-index: 999;
position: fixed;
}

.headerul{
background-image: linear-gradient(rgba(255, 170, 85, 0.5); rgba(255, 170, 85, 0) );
display: flex;
width: 100%;
height: 100%;
margin: 0px;
position: relative;
justify-content: space-between;
align-items: center;
z-index: 999;
}

.logo{
width: 170px;
height: 170px;
border-radius: 100px;
}

.form-groupSearch{
width: 110%;
}

.buscadorheader{
width: 40%;
}

.form-control{
width: 90%;
background-color: none;
height: 50px;
border-radius: 25px;
}

#icono{
color: white;
font-size: 30px;
}

.container {
  width: 100%;
display: block;
}
/*hasta aca header*/

.headerul a {
font-style: italic;
color: red;
text-align: center;
text-decoration: none;
}

main{
padding-top: 80px;
width: 100%;
}

.titulo {
background: rgba(255,255,255,.08);
width: 100% ;
}

.margen {
margin-bottom: 20px;
}

.botones {
left: -20px;
}

.series {
display: flex;
position: relative;
justify-content: space-between;
flex-direction: column;
margin: 90px;
}

.series p {
color:  antiquewhite;
text-align: center;
font-size: 25px;
text-decoration: underline;
}

.popular {
position: relative;
justify-content: space-between;
flex-direction: row;
}

.alAire {
position: relative;
justify-content: space-between;
flex-direction: row;
}

.poster{
opacity: 1 !important;
}

.link{
height: 100%;
width: 100%;
opacity: 0;
}

.unidad{
margin: 10px;
}

.unidad:hover a{
display: flex;
text-decoration: underline;
color: rgba(255, 255, 255, 1);
opacity: 1;
background-color: rgba(1, 0, 0, 0.5);
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
height: 100%;
}

.unidad:hover .contenedora{
text-decoration: underline;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.contenedora{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}



/*footer*/
.Piedepagina{
  display: flex;
  flex-direction: row;
  border-top: 1px solid gainsboro;
text-align: center;
height: 200px;
background-color: white;
}


.grupo {
margin-top: 2%;
color: white;
font-size: 10px;

}
.logoTmdb{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 80%
}

.logoTmdb img{
  margin-top: 5%;
  position: sticky;
  height: 140px;
  width: 290px;
  left: 70%;
  top: 25%;
}



.miLi{
z-index: 500000;
}

.bordes {
justify-content: space-between;
padding: 1px;
width: 94%;
}

.uk-slider-items:not(.uk-grid){
justify-content: space-between;
}





/*Media Queries Tablets*/
@media (max-width: 646px) {
 .series{
    margin: 1%;
    margin-top: 25%;
  }

}
@media (min-width: 450px) and (max-width: 1223px)  {
    .nombre{
      font-size: 20px !important;
    }
}

@media (max-width: 830px) {
  .nombre{
    font-size: 16px !important;
  }

}


@media (max-width: 550px) {
  .logo{
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 450px) {
  .logo{
    width: 80px;
    height: 80px;
  }
  .serie {
    width: 100% !important;
  }
  .logoTmdb img{
    width: 110px;
      height: 55px;
      left: 60%;
  }

  h2{
    font-size: 10px !important;
  }
}

@media (max-width:400px) {
  .botonlindo{
    width: 50px;
    font-size: 10px !important;
    text-align: center !important;
    padding: 0px !important;
  }

}
