<header class="cabecera">
    <ul class="headerul">
      <a src="logotipo" href="/index"> <img  src="/images/logo.png" alt="logotipo" class="logo"> </a>
      <form class="buscadorheader" action="/usuarios/miPerfil" method="GET">
        <div class="form-groupSearch">
          <input type="search" class="form-control" name="search" placeholder="  BUSCAR USUARIO...">
      </div>
    </form>
    <div class="uk-inline boundary botones">
      <button class="uk-button uk-button-default botonlindo" type="button">MENU</button>
        <div uk-dropdown="pos: left-top" style="position:fixed;">
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active miLi"><a href="login.ejs">LOGIN</a></li>
            <li class="uk-active miLi"><a href="registracion.ejs">REGISTRARSE</a></li> 
            <li class="uk-active miLi"><a href="login.ejs">MI PERFIL</a></li>
          </ul>
        </div>
    </div>
    </ul>
  </header>